In [2]:
from sqlalchemy import create_engine
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import re
import json 
import requests

In [2]:
# connection string'

sqlitedb_rel_path = '../data/raw/raw_data_project_m1.db'
conn_str = f'sqlite:///{sqlitedb_rel_path}'

engine = create_engine(conn_str)

In [3]:
pd.read_sql_query("""
SELECT * FROM personal_info
;
""", engine)

,uuid,age,gender,dem_has_children,age_group
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61 years old,male,NO,40_65
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65
2,83127080-da3d-0133-c74f-0a81e8b09a82,32 years old,male,nO,26_39
3,15626d40-db13-0133-ea5c-0a81e8b09a82,45 years old,Male,YES,40_65
4,24954a70-db98-0133-4a64-0a81e8b09a82,41 years old,Fem,yES,40_65
...,...,...,...,...,...
9644,7d1ac020-dcb4-0133-817a-0a81e8b09a82,37 years old,FeMale,nO,26_39
9645,39f989f0-db52-0133-8482-0a81e8b09a82,53 years old,Male,yES,40_65
9646,70ce4a90-d965-0133-f5e4-0a81e8b09a82,1992,male,NO,juvenile
9647,2896e440-db3c-0133-5b67-0a81e8b09a82,47 years old,male,yES,40_65
9648,06217ba0-dd56-0133-edda-0a81e8b09a82,51 years old,FeMale,YES,40_65

In [4]:
pd.read_sql_query("""
SELECT * FROM country_info
;
""", engine)

                                      uuid country_code        rural
0     f6e7ee00-deac-0133-4de8-0a81e8b09a82           AT  countryside
1     54f0f1c0-dda1-0133-a559-0a81e8b09a82           AT        urban
2     83127080-da3d-0133-c74f-0a81e8b09a82           AT         city
3     15626d40-db13-0133-ea5c-0a81e8b09a82           AT      Country
4     24954a70-db98-0133-4a64-0a81e8b09a82           AT         city
...                                    ...          ...          ...
9644  7d1ac020-dcb4-0133-817a-0a81e8b09a82           SK        urban
9645  39f989f0-db52-0133-8482-0a81e8b09a82           SK        urban
9646  70ce4a90-d965-0133-f5e4-0a81e8b09a82           SK    Non-Rural
9647  2896e440-db3c-0133-5b67-0a81e8b09a82           SK         city
9648  06217ba0-dd56-0133-edda-0a81e8b09a82           SK         city

[9649 rows x 3 columns]

In [1]:
# Import initial data from the db:uuid , age and countries
initial_df = pd.read_sql_query("""
SELECT personal_info.uuid, normalized_job_code ,age , country_code FROM personal_info
INNER JOIN country_info ON personal_info.uuid = country_info.uuid
INNER JOIN career_info ON personal_info.uuid = career_info.uuid;
""", engine)

NameError: name 'pd' is not defined

In [6]:
# Import initial data from the db:uuid , age and countries
#trial_df = pd.read_sql_query("""
#SELECT country_code,normalized_job_code ,age   FROM personal_info
#INNER JOIN country_info ON personal_info.uuid = country_info.uuid
#INNER JOIN career_info ON personal_info.uuid = career_info.uuid
#GROUP BY country_code, normalized_job_code;
#""", engine)

In [7]:
#trial_df

In [8]:
#initial_df['uuid'] = initial_df['uuid'].str.replace(r'-', '')

In [9]:
def fix_age (age):
    if 'years old' in age:
        born_y = 2016 - int(re.sub("[^\d]", "", age)) 
    else:
        born_y = int(age)
        
    right_age = 2021 - born_y     
    
    return right_age 

initial_df['age'] = initial_df.apply(lambda x: fix_age(x['age']), axis=1 )

In [10]:
def group_age (age):
    if age <= 25:
         age_group = '(18-25)' 
    elif age <= 35:
        age_group = '[30-35)'
    elif age <= 45:
        age_group = '[40-45)'
    elif age <= 55:
        age_group = '[45-55)'
    else:
        age_group = '[55-70)'
    
    return age_group

initial_df['Age Group'] = initial_df.apply(lambda x: group_age(x['age']), axis=1 )

In [11]:
initial_df['age'].max()

70

In [12]:
job_code_unique = initial_df['normalized_job_code'].unique()

In [13]:
len(job_code_unique)

157

In [14]:
#job_code_unique = list(filter(None, job_code_unique))

In [15]:
job_code_unique[:5]

array([None, '861a9b9151e11362eb3c77ca914172d0',
       '049a3f3a2b5f85cb2971ba77ad66e10c',
       'f4b2fb1aa40f661488e2782b6d57ad2f',
       '27af8700f5577cec835acee2cb90a2ff'], dtype=object)

In [16]:
job_titles = {}
#code = "8a7a3f1bce0958ae9f090683e5a925b7"
for code in job_code_unique[1:]:
    results = requests.get(f'http://api.dataatwork.org/v1/jobs/{code}').json()
    job = results['title']
    job_titles[code] = job

In [17]:
job_titles

{'861a9b9151e11362eb3c77ca914172d0': 'Automatic Data Processing Planner',
 '049a3f3a2b5f85cb2971ba77ad66e10c': 'Data Coordinator',
 'f4b2fb1aa40f661488e2782b6d57ad2f': 'Database Developer',
 '27af8700f5577cec835acee2cb90a2ff': 'Data Entry Specialist',
 'c1b670eba9ccb65e7c99f7da116d5b9c': 'Database Architect',
 'd71c4164c99a5f9bca773e755a72f40f': 'Geographic Information Systems Database Administrator (GIS Database Administrator)',
 '2ee80cf30e2483dfe0947adc0428f8c5': 'Crime Data Specialist',
 '897ef18a9321616495831a4b4b0c1bb2': 'Data Communications Software Consultant',
 'a003702c0cea282e17967772dd83de5e': 'Data Security Analyst',
 '04c82eae29e1c4a30eac0710b74ab276': 'Database Marketing Analyst',
 'fcaf4aac737e53ad24b9f32f08b8740f': 'Computer or Data Processing Systems Consultant',
 '3833bd699e7afe4665b595f282da0387': 'Database Development and Administration Project Manager',
 '19e384e977796c25780d8c28b12089c4': 'Naval Tactical Data System--Combat Information Center Watch Officer, General',
 '474b962c13632a04e42a546be4f11dbb': 'Data Coder Operator',
 'dac2e921c1f887d9efc4c06fa33c1397': 'Automatic Data Processing Customer Liaison (ADP Customer Liaison)',
 '996da29c84f5eed00da40c230f4c4078': 'Data Entry Representative',
 'cc2b26cc436bea36bda3bdd7367c411a': 'Data Processing Auditor',
 '25fe195cbf915c0824fa6c44e6d0008c': 'Maintenance Data Analyst',
 '76385cb24e831b3364279b9de5641d8f': 'Automatic Data Processing Systems Security Specialist (ADP Systems Security)',
 '16b67d7f57698455aefbc1ae1b358b50': 'Database Engineer',
 'b24ece3300d2f8ab34f9553e531183d6': 'Data Processing Systems Project Planner',
 '5db2c8d6539f983e1ca3d7c5b939e190': 'Database Administration Associate',
 '36675c937946c8a4fc5de7d0b4c850de': 'Data Warehousing Engineer',
 '847165cfda6b1dc82ae22b967da8af2f': 'Data Warehouse Developer',
 '2ca138b991c50dc6696238e5ad800142': 'Database Software Technician',
 '775190277a849cba701b306a7b374c0a': 'Data Officer',
 '022d0e3a40aa3e29bca6851542b27842': 'Data Keyer',
 '375017ea3a1a97f5ea676def873bb25b': 'Geographic Information Systems Data Specialist (GIS Data Specialist)',
 '1dd2fdc8a3981f2a1d8f0ca173952bb8': 'Database Administration Manager',
 'e605336f5a43949cb6b18054fd1937f1': 'Database Security Expert',
 '800b621aab5dac18f4caef621fa43a49': 'Data Systems Manager',
 'd06dfb43c95b585a89ae556c9221b573': 'Data Warehousing Manager',
 'a12a16280e22220f9354333f6fe1b22a': 'Geographic Information Systems Data Administrator (GIS Data Administrator)',
 '477b53ef09d37f098d5ed74f47fcbaec': 'Data Base Design Analyst',
 'e2f68bf748aea2c7d2254550c0c92b23': 'Director of Data Operations',
 '45033f83b6e0309eca9bcd76917f15d0': 'Database Modeler',
 '141ddda0f613da65a280521247de0e9f': 'Data Administrator',
 '3ddea1b52e520996e4ec9fb70dc8b86b': 'Field Artillery Automated Tactical Data System Specialist',
 '6408c0d7c7faa4ced47fbc8474698126': 'Database Design Analyst',
 '07b7555fa790debaf5b04d1409ad5f11': 'Database Security Administrator',
 'a4d5b8b38f9513825d0d94a981ebe962': 'Database Manager',
 '5e93fd1a58c8a67b295f69d87d1a940d': 'Geographic Information Systems Data Manager (GIS Data Manager)',
 '122f24bc911a79c26ca66210557dda07': 'Clinical Data Specialist',
 '76b0ba6af40991629e20dff36edd02a5': 'Data Management Information Technology Specialist',
 '970eb38c7b3eb080466052ea994af189': 'Internet Database Specialist',
 'cf2d4db3c258faa2499bdeeeed6721a5': 'GPS Field Data Collector (Global Positioning System Field Data Collector)',
 '90c5430dbc810aec8695af2f1f4c42e8': 'Electronic Data Processing Auditor (EDP Auditor)',
 '7bb15eefb19ed09c59349baad7e8469e': 'Database Coordinator',
 'ec3d88b2fd083b870b8c5a603898ed39': 'Databases Computer Consultant',
 '1f8576bdffa64f492405d02b842c41a6': 'Data Management Associate',
 'edc64316da9707432443c7a4461abe6c': 'Data Security Administrator',
 '6cf4d336112984368f83181ac5ffe948': 'Health Data Analyst',
 'd4624ed8068d24948e18303212593cd6': 'Data Architect',
 '1a281bf4bd1fe9b2a6e464e508bea167': 'Data Storage Specialist',
 '2f704538f6c9d6459a97314be98124e2': 'Data Collector',
 '3161063d378eecc4581c5cdee46a2a6c': 'Head of Information Systems and Data Processing',
 '781f5d3a80812531fdc81125a527a626': 'Data Warehouse Specialist',
 '38a15ceadcdd6d4db16a88fa1a72b083': 'Data Warehouse Analyst',
 'e55556364d2096578fd153e9800e826f': 'Database Consultant',
 'd24ffac92c24fb0e7bd1abc5fc3b6254': 'Data Manager',
 'ccd7528fb38f16077360c5b67c9700c4': 'Data Communications Analyst',
 'f6fbd9dea1fa8f899683ade8e7d87d60': 'Data Entry Associate',
 '0de6170ccbed08e62b2e5862d5846a43': 'Database Tester',
 '499f9d9b6722342608656559b15abd90': 'Clinical Data Associate',
 '8a7a3f1bce0958ae9f090683e5a925b7': 'Data Scientist',
 '7acaed29536648e45ea2b82d45047fcf': 'Medical Data Analyst',
 '02e4c028f64f176de2f54bbc2f5403ce': 'Marketing Database Analyst',
 '569da68cdcac43a3b4a0126ea9170570': 'Database Designer',
 'ced804d972b03cca6d523ec8925a7943': 'Oracle Database Administrator (Oracle DBA)',
 '41b2978a2c07c5f477e60f26372d6c85': 'Database Management System Specialist (DBMS Specialist)',
 'd9e964a222fdd9527319ad88adbfaa2e': 'SQL Database Administrator',
 'ac47656fd51c2cd8037057262c910dc4': 'Data Processing Manager',
 'e49986dae76619a3941d280ee14d38ae': 'Data Miner',
 'f842344417ed2fc226d9cc00f9562458': 'Log Data Technician',
 '096536ec43ce2a7de73031b271a1c132': 'Flight Data Technician',
 'a33662485eb4ad97096183db945308f4': 'Automatic Data Processing Planner (ADP Planner)',
 '4f75f97ac5b5f00f9420074d501f0803': 'Data Capture Specialist',
 'f36c6ada3a808453a0bf241c74a4e994': 'Reference Data Expert',
 '41ba88cfd476ee8d5e3d9f7cea62f051': 'Data Recovery Planner',
 '894ca61c22718617c7e2404f582153da': 'Data Processing Consultant',
 '34d80517fe3bc143f9fc850386b8ffd7': 'Clinical Data Coordinator',
 'e7b3e1c6a32c7247cd4857e4c3574165': 'Data Processing Systems Analyst',
 '36ac256201657eeaa67ee95aaae3cd54': 'Data Warehousing Specialist',
 'bc6dcc49557388a9f53d6e642e73d7a2': 'Business Database Analyst',
 '00bff17fca67555d8d86e8ead86dcd70': 'Database Analyst',
 'b42566382f2d3deeca56d3667004fc9e': 'Data Center Manager',
 '7932d4705d002b47789c11edfaed685e': 'Data Control Assistant',
 'aee597cd78f235c9db9d3ca987c7c846': 'Database Development Project Manager',
 '1c37a6e2bf157c0eff4665c57c52602d': 'SCADA Technician (Supervisory Control and Data Acquisition Technician)',
 '46b09f5f86f1ed46a8cb8e14d41418c7': 'Survey Data Technician',
 'a2a9fbe67b4aa2b551ba0f3adac90a99': 'Engineer, System Electronic Data Processing (Engineer, System EDP)',
 '77d124811ae6887bd4ff42b0e2b49116': 'Data Warehouse Architect',
 'f05d2014d4a9adaab50fa1e0ca6f6c8c': 'Naval Tactical Data System--Combat Information Center Watch Officer, Carrier Controlled Approach Controller',
 'ac2588d5d7676a49bdcd038e4a0a0ec5': 'Data Compiler',
 '2173ff3afd8d28192f7cf119af201940': 'Data Modeling Specialist',
 'f5bc91b67dc30ad204158092116c4ed2': 'Clinical Data Manager',
 '433df1b945d32f17d9e61cf60a9bd06e': 'Data Abstractor',
 '1295a187473fd2f53427769fc7a4c02e': 'Clinical Data Management Associate Director',
 '004431b0c1ce29ff6145307fa23f3f98': 'Data Reduction Technician',
 '8fd068c8d9be73abfa678856177b6c40': 'Data Operations Director',
 'c34f03aa0a9c6edbe8ec50f4fa3687a8': 'Data Center Operator',
 '7aecc34a90868aac810bf3693b11534e': 'Clinical Trials Data Coordinator',
 '086f0063610283d1c23c44bca4ef92c0': 'Database Administrator (DBA)',
 '16b49a63ac3fcb90356c30187110ed94': 'Data Processing Auxiliary Equipment Operator',
 '437e4414c78611a270a5cedb4b4c0eed': 'Data Collection Technician',
 '679fb7003e0aedc14891fcd15dd846c5': 'Database Specialist',
 '7a37ddb38441873334fd8ff07c17ad22': 'Data Acquisition Technician',
 '58eaf730050d2e23c7361fbb782e30a2': 'Data Processing Mechanic',
 'd0abc47e83e7d85921e113f85175547a': 'Data Sciences Director',
 '73d251075a710326ae436d9819246377': 'Databases Software Consultant',
 '5e2bfe1fb8451158ff488c673535980c': 'Data Entry Machine Operator',
 'ac9f868b5c3e7cb3f31bcead5dadeb71': 'Micro Computer Data Processor',
 'f670246beda8187fbe875401e7bc4ba6': 'Data Processing Services Sales Representative',
 '0044971fda4a261b6049a63817913e95': 'Data Processing Equipment Repairer',
 'b36bc5f02fd641a126df999bcefa2777': 'Data Technician',
 '067c85859a63aa6f1c8c936904124dd6': 'Naval Tactical Data System--Combat Information Center Officer',
 '491d82be40d8395e347f9584124bccdd': 'Flight Test Data Acquisition Technician',
 '7028f15ad274cb4d9505101b9c1306b1': 'Clinical Data Management Manager (CDM Manager)',
 'fd69391dc29c83d5ad744daa57de0175': 'Data Transcriber',
 '3def30a9bc4356164176ba909f40bab8': 'Data Input Clerk',
 '132aa9e82c5d4c8a395342d0a6e22c5c': 'Electronic Data Interchange System Developer (EDI System Developer)',
 '07b2ace822aff5d35dcf5ea264ef3b59': 'Database Administration Project Manager',
 'f8984e50675cf61e5ac1ea8f661e0ab2': 'Field Traffic Data Technician',
 'd329d187dafb7546061ec7fbf137a2b4': 'Clinical Data Abstractor',
 'd63e35f948115e0c328a49db7bdb6e59': 'Data Control Clerk Supervisor',
 'bf7f43295d45cdced048c8126f977b6b': 'Datastage Developer',
 '6bf4290b983d58ce153af610008846c9': 'Data Entry Technician',
 'f1fc61f279e3ad14863e582ca6fdc473': 'Clinical Data Analyst',
 '31bf3181813e21ffdfd76b5881fab066': 'Data Entry Supervisor',
 '04b0eaf624b2deb45ccd62cf6ec7c7bc': 'Data Conversion Operator',
 '2616d64becb4f2c478dd42f501bbfbff': 'Data Processing Control Clerk',
 '776bf47111206d31ccf835650e1054cc': 'Data Typist',
 'c3b5ebd7b88c20786f11e87846c7d6ae': 'SCADA Operator (Supervisory Control and Data Acquisition Operator)',
 'dfea9e8bc3c565ff9e64d4288b1c423d': 'Customer Data Technician',
 'a50d1f4be063829950e6ddb02c91379f': 'Database Programmer',
 'af6630abd24c19f77cfba94aa4e3b7e1': 'Data Specialist',
 '901740e84d1a4760e440b039adac9df2': 'Data Processing Clerk',
 'f2ecf36d7eb0a4225974fc6c4f48cfcb': 'Voice and Data Technician',
 'f1fb62e4c97f4f5cd5001877cb94379e': 'Data Processor',
 'b9a57264eaada670703db113483ddfc3': 'Data Modeler',
 '65b92572bca68ff9c49c930749fa348c': 'LiDAR Data Analyst',
 '59dab7d0a3ee97d939aa8b1a8deec857': 'Data Management Manager',
 'afea0e0169a98ee264db2ddb1c6e6a34': 'Data Processing Supervisor',
 '0facaffe51cc1998a5fbdbe5fd18fd98': 'Weight in Motion Field Data Collection Technician',
 'ccf2c4daae069f054cada4c911819a17': 'Scientific Database Curator',
 '1426c924e1b6b162f6bfdd1906d98d0e': 'Operations Officer, Afloat (Naval Tactical Data Systems)',
 'eb3d789747d52df803ce63fe37bf53e9': 'Data Analyst',
 'bdf4dcd92089bc17345de83f4d06090f': 'Data Entry Operator',
 '5285758deb04c98f58cbae2747195f33': 'Data Reviewer',
 '04c27c76b463a917800549cf88a59961': 'Data Communications Technician',
 '631bc3a12ed11340fc94ebfffa8f5f4e': 'Database Technician',
 'b0fa6ede410f50b82ab74f5a705fe699': 'Analytical Data Miner',
 '559a21f836c93876f31b60e6d10656a7': 'Data Analysis Assistant',
 'c1fb1a01b78373ac2153c66fa08d16dc': 'Data Examination Clerk',
 '05bb9a333a66d6eb151e253623efe1c0': 'Data Entry Clerk',
 '4cee16550636e292b8d136486fce943b': 'Data Capture Clerk'}

In [18]:
job_titles_df = pd.DataFrame(job_titles.items() ,columns=['normalized_job_code','Job Title'])

In [19]:
job_titles_df

In [27]:
url = 'https://ec.europa.eu/eurostat/statistics-explained/index.php/Glossary:Country_codes'
html = requests.get(url).content
html[0:600]

b'\xef\xbb\xbf<!DOCTYPE html>\n<html lang="en" dir="ltr" class="client-nojs">\n<head>\n<meta http-equiv="X-UA-Compatible" content="Ie=Edge,chrome=1"/> <meta charset="UTF-8" /><title>Glossary:Country codes - Statistics Explained</title>\n<meta name="generator" content="MediaWiki 1.22.5" />\n<link rel="shortcut icon" href="https://ec.europa.eu/eurostat/estat-theme/images/favicon.ico" />\n<link rel="search" type="application/opensearchdescription+xml" href="/eurostat/statistics-explained/opensearch_desc.php" title="Statistics Explained (en)" />\n<link rel="EditURI" type="application/rsd+xml" href="https://ec.europ'

In [28]:
from bs4 import BeautifulSoup

In [ ]:
soup = BeautifulSoup(html, "html.parser")
soup

In [55]:
table_countries = soup.find('table',{'width':'80%'}).text
table_countries

'\n\nBelgium\n\n(BE)\n\nGreece\n\n(EL)\n\nLithuania\n\n(LT)\n\nPortugal\n\n(PT)\n\n\nBulgaria\n\n(BG)\n\nSpain\n\n(ES)\n\nLuxembourg\n\n(LU)\n\nRomania\n\n(RO)\n\n\nCzechia\n\n(CZ)\n\nFrance\n\n(FR)\n\nHungary\n\n(HU)\n\nSlovenia\n\n(SI)\n\n\nDenmark\n\n(DK)\n\nCroatia\n\n(HR)\n\nMalta\n\n(MT)\n\nSlovakia\n\n(SK)\n\n\nGermany\n\n(DE)\n\nItaly\n\n(IT)\n\nNetherlands\n\n(NL)\n\nFinland\n\n(FI)\n\n\nEstonia\n\n(EE)\n\nCyprus\n\n(CY)\n\nAustria\n\n(AT)\n\nSweden\n\n(SE)\n\n\nIreland\n\n(IE)\n\nLatvia\n\n(LV)\n\nPoland\n\n(PL)\n'

In [56]:
table_countries = table_countries.replace("\n","")

In [64]:
table_countries

['Belgium(BE',
 'Greece(EL',
 'Lithuania(LT',
 'Portugal(PT',
 'Bulgaria(BG',
 'Spain(ES',
 'Luxembourg(LU',
 'Romania(RO',
 'Czechia(CZ',
 'France(FR',
 'Hungary(HU',
 'Slovenia(SI',
 'Denmark(DK',
 'Croatia(HR',
 'Malta(MT',
 'Slovakia(SK',
 'Germany(DE',
 'Italy(IT',
 'Netherlands(NL',
 'Finland(FI',
 'Estonia(EE',
 'Cyprus(CY',
 'Austria(AT',
 'Sweden(SE',
 'Ireland(IE',
 'Latvia(LV',
 'Poland(PL',
 '']

In [58]:
table_countries = table_countries.split(")")

In [68]:
list_countries = [i.split('(') for i in table_countries] 
list_countries

[['Belgium', 'BE'],
 ['Greece', 'EL'],
 ['Lithuania', 'LT'],
 ['Portugal', 'PT'],
 ['Bulgaria', 'BG'],
 ['Spain', 'ES'],
 ['Luxembourg', 'LU'],
 ['Romania', 'RO'],
 ['Czechia', 'CZ'],
 ['France', 'FR'],
 ['Hungary', 'HU'],
 ['Slovenia', 'SI'],
 ['Denmark', 'DK'],
 ['Croatia', 'HR'],
 ['Malta', 'MT'],
 ['Slovakia', 'SK'],
 ['Germany', 'DE'],
 ['Italy', 'IT'],
 ['Netherlands', 'NL'],
 ['Finland', 'FI'],
 ['Estonia', 'EE'],
 ['Cyprus', 'CY'],
 ['Austria', 'AT'],
 ['Sweden', 'SE'],
 ['Ireland', 'IE'],
 ['Latvia', 'LV'],
 ['Poland', 'PL'],
 ['']]

In [81]:
country_codes_df=pd.DataFrame(list_countries, columns=('Country','country_code'))

In [82]:
country_codes_df

In [20]:
final_df = pd.merge(initial_df,  
                      job_titles_df,  
                      on ='normalized_job_code',  
                      how ='inner')

In [87]:
definitive_df = pd.merge(final_df,  
                      country_codes_df,  
                      on ='country_code',  
                      how ='inner')

In [117]:
definitive_df

,uuid,normalized_job_code,age,country_code,Age Group,Job Title,Country
0,54f0f1c0-dda1-0133-a559-0a81e8b09a82,861a9b9151e11362eb3c77ca914172d0,62,AT,[55-70),Automatic Data Processing Planner,Austria
1,cf24ed60-da3f-0133-0034-0a81e8b09a82,861a9b9151e11362eb3c77ca914172d0,53,AT,[45-55),Automatic Data Processing Planner,Austria
2,15626d40-db13-0133-ea5c-0a81e8b09a82,049a3f3a2b5f85cb2971ba77ad66e10c,50,AT,[45-55),Data Coordinator,Austria
3,ca3f65f0-d92b-0133-3959-0a81e8b09a82,049a3f3a2b5f85cb2971ba77ad66e10c,51,AT,[45-55),Data Coordinator,Austria
4,24954a70-db98-0133-4a64-0a81e8b09a82,f4b2fb1aa40f661488e2782b6d57ad2f,46,AT,[45-55),Database Developer,Austria
...,...,...,...,...,...,...,...
4921,6e8c05a0-d98b-0133-a515-0a81e8b09a82,a12a16280e22220f9354333f6fe1b22a,36,MT,[40-45),Geographic Information Systems Data Administra...,Malta
4922,46f91e60-d8cc-0133-611d-0a81e8b09a82,970eb38c7b3eb080466052ea994af189,47,MT,[45-55),Internet Database Specialist,Malta
4923,0c5e7600-d9ad-0133-8817-0a81e8b09a82,7bb15eefb19ed09c59349baad7e8469e,36,MT,[40-45),Database Coordinator,Malta
4924,f9003a20-dbc6-0133-9c2b-0a81e8b09a82,7bb15eefb19ed09c59349baad7e8469e,47,MT,[45-55),Database Coordinator,Malta
4925,da3aef30-da15-0133-9cdc-0a81e8b09a82,8a7a3f1bce0958ae9f090683e5a925b7,45,MT,[40-45),Data Scientist,Malta

In [112]:
grouped_df = definitive_df[['uuid','Country', 'Job Title','Age Group']].groupby(['Country', 'Job Title','Age Group']).count().reset_index()

In [113]:
grouped_df

,Country,Job Title,Age Group,uuid
0,Austria,Automatic Data Processing Customer Liaison (AD...,[40-45),2
1,Austria,Automatic Data Processing Planner,[45-55),1
2,Austria,Automatic Data Processing Planner,[55-70),1
3,Austria,Automatic Data Processing Systems Security Spe...,[30-35),1
4,Austria,Automatic Data Processing Systems Security Spe...,[45-55),1
...,...,...,...,...
3040,Sweden,Head of Information Systems and Data Processing,[45-55),1
3041,Sweden,Naval Tactical Data System--Combat Information...,[30-35),1
3042,Sweden,Oracle Database Administrator (Oracle DBA),[40-45),1
3043,Sweden,SQL Database Administrator,[45-55),1
3044,Sweden,Survey Data Technician,[45-55),1

In [114]:
grouped_df.rename(columns={'uuid':'Quantity'}, inplace=True)
grouped_df[:20]

,Country,Job Title,Age Group,Quantity
0,Austria,Automatic Data Processing Customer Liaison (AD...,[40-45),2
1,Austria,Automatic Data Processing Planner,[45-55),1
2,Austria,Automatic Data Processing Planner,[55-70),1
3,Austria,Automatic Data Processing Systems Security Spe...,[30-35),1
4,Austria,Automatic Data Processing Systems Security Spe...,[45-55),1
5,Austria,Clinical Data Specialist,[40-45),1
6,Austria,Computer or Data Processing Systems Consultant,[30-35),1
7,Austria,Computer or Data Processing Systems Consultant,[45-55),1
8,Austria,Computer or Data Processing Systems Consultant,[55-70),1
9,Austria,Crime Data Specialist,[45-55),1
10,Austria,Data Administrator,[40-45),1
11,Austria,Data Base Design Analyst,[30-35),1
12,Austria,Data Base Design Analyst,[45-55),1
13,Austria,Data Coder Operator,[45-55),1
14,Austria,Data Communications Software Consultant,[30-35),1
15,Austria,Data Communications Software Consultant,[45-55),1
16,Austria,Data Coordinator,[45-55),2
17,Austria,Data Entry Representative,[40-45),1
18,Austria,Data Entry Specialist,[30-35),1
19,Austria,Data Keyer,[55-70),1

In [116]:
grouped_df.to_csv('../data/countries.csv', index=False)

In [118]:
grouped_df = definitive_df[['uuid','Country', 'Job Title','Age Group']].groupby(['Country', 'Job Title','Age Group']).count()
grouped_df.rename(columns={'uuid':'Quantity'}, inplace=True)
grouped_df['Percentage'] = grouped_df.groupby(level=0).transform(lambda x: x/x.sum())

In [120]:
grouped_df.reset_index()

,Country,Job Title,Age Group,Quantity,Percentage
0,Austria,Automatic Data Processing Customer Liaison (AD...,[40-45),2,0.027027
1,Austria,Automatic Data Processing Planner,[45-55),1,0.013514
2,Austria,Automatic Data Processing Planner,[55-70),1,0.013514
3,Austria,Automatic Data Processing Systems Security Spe...,[30-35),1,0.013514
4,Austria,Automatic Data Processing Systems Security Spe...,[45-55),1,0.013514
...,...,...,...,...,...
3040,Sweden,Head of Information Systems and Data Processing,[45-55),1,0.010638
3041,Sweden,Naval Tactical Data System--Combat Information...,[30-35),1,0.010638
3042,Sweden,Oracle Database Administrator (Oracle DBA),[40-45),1,0.010638
3043,Sweden,SQL Database Administrator,[45-55),1,0.010638
3044,Sweden,Survey Data Technician,[45-55),1,0.010638